.enlace {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.enlace i {
  font-size: 2.2rem;
  transition: all 0.2s ease-in;
}

@media (min-width: 768px) {
  .enlace i:hover {
    transform: scale(1.3);
  }
}
