.proyecto {
  background-color: #5b5b5b;
  transition: transform 0.3s ease;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  color: white;
}

.proyecto:hover {
  transform: scale(1.03);
}

h3 {
  text-align: left;
}

.datos {
  margin: 5px 10px 10px 10px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  margin-right: 15px;
}

.descripcion {
  font-weight: normal;
  margin-top: -10px;
}

.proyecto a {
  color: white;
  transition: all 0.2s ease-in;
}

.proyecto a:hover {
  /* test */
  color: red;
}
